<style>
:root {
    --base-font-family: "Inter", sans-serif;
    --code-font-family: "JetBrains Mono", var(--base-font-family);
    --article-font-family: "Rubik", var(--base-font-family);
}
</style>
<script>
    (function () {
        const customFonts = document.createElement('link');
        customFonts.href = "https://fonts.darkshark9k.ml/darkshark9k.css";
    
        customFonts.type = "text/css";
        customFonts.rel = "stylesheet";
    
        document.head.appendChild(customFonts);
    }());
</script>
<script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"darkshark",utcoffset:"2"}))};sessionStorage.setItem("_swa","1");</script>