<style>
:root {
    --base-font-family: "Inter", sans-serif;
    --code-font-family: "JetBrains Mono", var(--base-font-family);
    --article-font-family: "Rubik", var(--base-font-family);
    --body-background: #D7F5EF;
    --body-text-color: #9480FF;
    --accent-color: #9480FF;
    --accent-color-darker: #D7F5EF;
    --accent-color-text: #000000;
}
</style>
<script>
    (function () {
        const customFonts = document.createElement('link');
        customFonts.href = "https://fonts.darkshark9k.ml/darkshark9k.css";
    
        customFonts.type = "text/css";
        customFonts.rel = "stylesheet";
    
        document.head.appendChild(customFonts);
    }());
</script>