<style>
:root {
    --base-font-family: "Inter", sans-serif;
    --code-font-family: "JetBrains Mono", var(--base-font-family);
    --article-font-family: "Rubik", var(--base-font-family);
}
</style>
<script>
    (function () {
        const customFonts = document.createElement('link');
        customFonts.href = "https://darkshark9k.ml/style.css";
    
        customFonts.type = "text/css";
        customFonts.rel = "stylesheet";
    
        document.head.appendChild(customFonts);
    }());
</script>