@font-face {
     font-family: 'ClashDisplay-Variable';
     src: url('./fonts/ClashDisplay/ClashDisplay-Variable.woff2') format('woff2'),
          url('./fonts/ClashDisplay/ClashDisplay-Variable.woff') format('woff'),
          url('./fonts/ClashDisplay/ClashDisplay-Variable.ttf') format('truetype');
          font-weight: 200 700;
          font-display: swap;
          font-style: normal;
}
@font-face {
     font-family: 'Archivo-Variable';
     src: url('./fonts/Archivo/Archivo-Variable.woff2') format('woff2'),
          url('./fonts/Archivo/Archivo-Variable.woff') format('woff'),
          url('./fonts/Archivo/Archivo-Variable.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
   }

   
   @font-face {
     font-family: 'Archivo-VariableItalic';
     src: url('./fonts/Archivo/Archivo-VariableItalic.woff2') format('woff2'),
          url('./fonts/Archivo/Archivo-VariableItalic.woff') format('woff'),
          url('./fonts/Archivo/Archivo-VariableItalic.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: italic;
   }
/* jetbrains-mono-regular - latin */
@font-face {
     font-family: 'JetBrains Mono';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('./fonts/JetbrainsMono/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/JetbrainsMono/jetbrains-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}