@font-face {
     font-family: 'GeneralSans-Variable';
     src: url('./fonts/GeneralSans/GeneralSans-Variable.woff2') format('woff2'),
          url('./fonts/GeneralSans/GeneralSans-Variable.woff') format('woff'),
          url('./fonts/GeneralSans/GeneralSans-Variable.ttf') format('truetype');
          font-weight: 200 700;
          font-display: swap;
          font-style: normal;
}
@font-face {
     font-family: 'GeneralSans-Variable';
     src: url('./fonts/GeneralSans/GeneralSans-VariableItalic.woff2') format('woff2'),
          url('./fonts/GeneralSans/GeneralSans-VariableItalic.woff') format('woff'),
          url('./fonts/GeneralSans/GeneralSans-VariableItalic.ttf') format('truetype');
          font-weight: 200 700;
          font-display: swap;
          font-style: italic;
}
/* jetbrains-mono-regular - latin */
@font-face {
     font-family: 'JetBrains Mono';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('./fonts/JetbrainsMono/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/JetbrainsMono/jetbrains-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}